* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #FFFFFF;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#container-principal {
    background-color: #111111;
    width: 100%;
    min-height: 100vh;
}

.campo, .campo:active {
    width: 100%;
    padding: 8px 7px;
    border: none;
    outline: none;
    background-color: #DCDCDC;
    color: #000000;
}

.botao, .botao:active {
    background-color: #8B17FA;
    padding: 10px 5px;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.campo, .botao {
    margin-top: 1.2em;
}

.mensagem {
    margin-top: 1.2em;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.9em;
}