* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
}

#container-principal {
    background-color: #111111;
    width: 100%;
    min-height: 100vh;
}