#container-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #1F1F1F; 
    max-width: 600px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.2em;
    height: 100%;
    max-height: 80vh;
    position: relative;
}

#caixa-mensagens {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-color: #8B17FA transparent;
    scrollbar-width: thin;
}

#caixa-mensagem {
    width: 100%;

}

#input-mensagem {
    width: 100%;
}

#titulo-chat {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#nome-usuario {
    display: none;
}

#momento {
    font-size: 0.7rem;
    display: block;
}

.mensagem {
    text-align: left;
    cursor: pointer;
}

.mensagem:hover, .mensagem:hover * {
    color: #8B17FA;
}

#link-salas {
    margin-top: 0.7rem;
    display: block;
    text-decoration: none;
    text-align: center;
}