{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 id="titulo-chat">{{nome_grupo}}</h2>
        <p id="nome-usuario">{{request.session.nome}}</p>

        <div id="caixa-mensagens">
            {% for mensagem in mensagens %}
                <p class="mensagem">
                    <b>{{mensagem.nome_autor}} - </b>{{mensagem.conteudo}}
                    <span id="momento">{{ mensagem.momento|date:'d/m/Y H:i' }}h</span>
                </p>
            {% endfor %}
        </div>

        <div id="caixa-mensagem">
            <input type="text" id="input-mensagem" class="campo">
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}