{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 id="titulo-chat">{{nome_grupo}}</h2>

        <div id="caixa-mensagens">
        </div>

        <div id="caixa-mensagem">
            <input type="text" id="input-mensagem" class="campo">
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script href="{% static 'js/chat.js' %}"></script>
{% endblock %}