{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/identidade.css' %}">
{% endblock %}

{% block content %}
    <form id="formulario-identidade" method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        {% if mensagem %}
            <div class="mensagem-login">{{ mensagem }}</div>
        {% endif %}
        <input type="text" placeholder="Digite seu nome aqui..." class="campo" name="nome">
        <button class="botao">Entrar</button>
    </form>
{% endblock %}
